core/delivery/.flows.json.backup
[
    {
        "id": "20080e9522dba17a",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4a91dd7bfc833e7",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65eb713d429814a4",
        "type": "tab",
        "label": "Sniffer / MQTT Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b169a9f9f2fdc84c",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "ZMQ Receiver",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "36da8bea1959fbca",
            "d0396c344ab22f9c",
            "b6034584ef370295",
            "a90949c5da48bfdc"
        ],
        "x": 74,
        "y": 99,
        "w": 492,
        "h": 142
    },
    {
        "id": "2312654bef2ae844",
        "type": "mqtt-broker",
        "name": "MQTT GCP",
        "broker": "34.134.241.250",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "97528de95b131960",
        "type": "mqtt-sparkplug-broker",
        "name": "",
        "deviceGroup": "",
        "eonName": "",
        "broker": "34.134.241.250",
        "port": 1883,
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": false,
        "useTemplates": true,
        "templates": [],
        "manualEoNBirth": false,
        "primaryScada": ""
    },
    {
        "id": "36da8bea1959fbca",
        "type": "zeromq in",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ZMQ Receiver",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/context.ipc",
        "output": "json",
        "isserver": false,
        "intype": "pull",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "d0396c344ab22f9c",
                "a90949c5da48bfdc"
            ]
        ]
    },
    {
        "id": "d0396c344ab22f9c",
        "type": "json",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ToObject",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "b6034584ef370295"
            ]
        ]
    },
    {
        "id": "b6034584ef370295",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Message Out",
        "mode": "link",
        "links": [
            "1eed795d89c44e79"
        ],
        "x": 455,
        "y": 200,
        "wires": []
    },
    {
        "id": "a90949c5da48bfdc",
        "type": "debug",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Messaging Input Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1928eef1a094621",
        "type": "link in",
        "z": "20080e9522dba17a",
        "name": "link in 1",
        "links": [
            "a16033606934f38c"
        ],
        "x": 145,
        "y": 360,
        "wires": [
            [
                "a88317af959e8167",
                "215475b220f7c97d"
            ]
        ]
    },
    {
        "id": "a88317af959e8167",
        "type": "mqtt sparkplug out",
        "z": "20080e9522dba17a",
        "name": "UNS Broker (GCP)",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "97528de95b131960",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "215475b220f7c97d",
        "type": "debug",
        "z": "20080e9522dba17a",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b6e40380fc4820f",
        "type": "inject",
        "z": "f4a91dd7bfc833e7",
        "name": "Semantic Data ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"timestamp\":1684512000000,\"source\":{\"type\":\"edge_gateway\",\"id\":\"sida_edge_001\"},\"asset_context\":{\"standard\":\"ISA-95\",\"path\":[{\"type\":\"enterprise\",\"id\":\"senai\"},{\"type\":\"site\",\"id\":\"recife\"},{\"type\":\"area\",\"id\":\"producao\"},{\"type\":\"line\",\"id\":\"linha_envase\"},{\"type\":\"equipment\",\"id\":\"esteira_a\"}]},\"data\":[{\"name\":\"motor_velocity\",\"value\":45.5,\"unit\":\"RPM\",\"data_type\":\"float\"},{\"name\":\"motor_running\",\"value\":true,\"unit\":null,\"data_type\":\"boolean\"}]}",
        "payloadType": "json",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "50b1232778c14788"
            ]
        ]
    },
    {
        "id": "a2c12bcdbb991cf7",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "name": "spbGenerator",
        "func": "const payloadIn = msg.payload;\nconst dataTimestamp = payloadIn.timestamp;\nconst pathArray = payloadIn.asset_context.path;\nconst dataRaw = payloadIn.data;\n\nconst getContextId = (targetType) => {\n    const item = pathArray.find(p => p.type === targetType);\n    return item ? item.id : \"unknown\";\n};\n\nconst enterprise = getContextId(\"enterprise\");\nconst site = getContextId(\"site\");\nconst area = getContextId(\"area\");\n\nconst groupId = `${enterprise}_${site}_${area}`;\nconst nodeId = getContextId(\"line\");\nconst deviceId = getContextId(\"equipment\");\n\nconst dataMetrics = dataRaw.map(item => {\n    let sparkplugType = \"String\";\n    const explicitType = item.data_type ? item.data_type.toLowerCase() : \"\";\n\n    if (explicitType === \"float\" || explicitType === \"double\") {\n        sparkplugType = \"Float\";\n    } else if (explicitType === \"boolean\" || explicitType === \"bool\") {\n        sparkplugType = \"Boolean\";\n    } else if (explicitType === \"int\" || explicitType === \"integer\") {\n        sparkplugType = \"Int32\";\n    } else {\n        if (typeof item.value === \"number\") {\n            sparkplugType = Number.isInteger(item.value) ? \"Int32\" : \"Double\";\n        } else if (typeof item.value === \"boolean\") {\n            sparkplugType = \"Boolean\";\n        }\n    }\n\n    const metric = {\n        name: item.name,\n        value: item.value,\n        type: sparkplugType,\n        timestamp: dataTimestamp\n    };\n\n    if (item.unit) {\n        metric.properties = {\n            engUnit: { type: \"String\", value: item.unit }\n        };\n    }\n\n    return metric;\n});\n\nmsg.topic = `spBv1.0/${groupId}/DDATA/${nodeId}/${deviceId}`;\nmsg.payload = {\n    metrics: dataMetrics\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "f0158cfd43983707",
                "bb9d3d5d27646cc2",
                "4b39ced9533d7a88",
                "bdcd2d6f38e3b341",
                "a16033606934f38c"
            ]
        ]
    },
    {
        "id": "f0158cfd43983707",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "d": true,
        "name": "JSON Length",
        "func": "const jsonText = JSON.stringify(msg.payload);\nconst jsonLength = Buffer.byteLength(jsonText, 'utf8');\n\nnode.warn(\"📊 Tamanho do JSON bruto: \" + jsonLength + \" bytes\");\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "9aa980bc751693fa",
        "type": "inject",
        "z": "f4a91dd7bfc833e7",
        "name": "Semantic Data ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"timestamp\":1684512000000,\"source\":{\"type\":\"edge_gateway\",\"id\":\"sida_edge_001\"},\"asset_context\":{\"standard\":\"ISA-95\",\"path\":[{\"type\":\"enterprise\",\"id\":\"senai\"},{\"type\":\"site\",\"id\":\"recife\"},{\"type\":\"area\",\"id\":\"producao\"},{\"type\":\"line\",\"id\":\"linha_envase\"},{\"type\":\"equipment\",\"id\":\"esteira_a\"}]},\"data\":[{\"name\":\"motor_velocity\",\"value\":45.5,\"unit\":\"RPM\",\"data_type\":\"float\"},{\"name\":\"motor_running\",\"value\":true,\"unit\":null,\"data_type\":\"boolean\"}]}",
        "payloadType": "json",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "50b1232778c14788"
            ]
        ]
    },
    {
        "id": "c1ccb8bad067a7b8",
        "type": "inject",
        "z": "f4a91dd7bfc833e7",
        "name": "Semantic Data ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"timestamp\":1684512000000,\"source\":{\"type\":\"edge_gateway\",\"id\":\"sida_edge_001\"},\"asset_context\":{\"standard\":\"ISA-95\",\"path\":[{\"type\":\"enterprise\",\"id\":\"senai\"},{\"type\":\"site\",\"id\":\"recife\"},{\"type\":\"area\",\"id\":\"producao\"},{\"type\":\"line\",\"id\":\"linha_envase\"},{\"type\":\"equipment\",\"id\":\"esteira_a\"}]},\"data\":[{\"name\":\"motor_velocity\",\"value\":45.5,\"unit\":\"RPM\",\"data_type\":\"float\"},{\"name\":\"motor_running\",\"value\":true,\"unit\":null,\"data_type\":\"boolean\"}]}",
        "payloadType": "json",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "50b1232778c14788"
            ]
        ]
    },
    {
        "id": "50b1232778c14788",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "name": "Start",
        "func": "msg.startTime = Date.now();\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "a2c12bcdbb991cf7"
            ]
        ]
    },
    {
        "id": "bb9d3d5d27646cc2",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "name": "Process Monitor",
        "func": "if (msg.startTime) {\n    const totalTime = Date.now() - msg.startTime;\n    \n    msg.payload = `${Date.now()},${totalTime}\\n`;\n    msg.filename = \"/data/log/process_time.csv\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "d3c7a3bda6911916"
            ]
        ]
    },
    {
        "id": "d3c7a3bda6911916",
        "type": "file",
        "z": "f4a91dd7bfc833e7",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4b39ced9533d7a88",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "name": "Latency Monitor",
        "func": "let filaLatencia = global.get('latency_queue') || [];\n\nfilaLatencia.push(Date.now());\nglobal.set('fila_latencia', filaLatencia);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bdcd2d6f38e3b341",
        "type": "debug",
        "z": "f4a91dd7bfc833e7",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "1eed795d89c44e79",
        "type": "link in",
        "z": "f4a91dd7bfc833e7",
        "name": "Receiver Queue",
        "links": [
            "b6034584ef370295"
        ],
        "x": 265,
        "y": 240,
        "wires": [
            [
                "50b1232778c14788"
            ]
        ]
    },
    {
        "id": "a16033606934f38c",
        "type": "link out",
        "z": "f4a91dd7bfc833e7",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "d1928eef1a094621"
        ],
        "x": 715,
        "y": 140,
        "wires": []
    },
    {
        "id": "7de90c1fbd8c9941",
        "type": "mqtt in",
        "z": "65eb713d429814a4",
        "name": "sniffer",
        "topic": "spBv1.0/#",
        "qos": "2",
        "datatype": "buffer",
        "broker": "2312654bef2ae844",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5db3f49eb9f068a9",
                "034a9c34b6088376",
                "8a61850ff2292cbd"
            ]
        ]
    },
    {
        "id": "5db3f49eb9f068a9",
        "type": "function",
        "z": "65eb713d429814a4",
        "d": true,
        "name": "SPB Length",
        "func": "const protoLength = msg.payload.length;\n\nnode.warn(\"📦 Tamanho trafegado (Protobuf): \" + protoLength + \" bytes\");\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "034a9c34b6088376",
        "type": "debug",
        "z": "65eb713d429814a4",
        "name": "Proto Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "8a61850ff2292cbd",
        "type": "function",
        "z": "65eb713d429814a4",
        "name": "Latency",
        "func": "let latencyQueue = global.get('latency_queue') || [];\n\nif (latencyQueue.length >= 0) {\n    const sendTime = latencyQueue.shift(); \n    global.set('latency_queue', latencyQueue); \n    \n    const latency = Date.now() - sendTime;\n    const protobufLength = msg.payload.length;\n    \n    // node.warn(`Latência: ${latency}ms | Tamanho: ${tamanhoProtobuf} bytes`);\n    \n    msg.payload = `${Date.now()},${latency},${protobufLength}\\n`;\n    \n    msg.filename = \"/data/log/network_latency.csv\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "2bb5773bc7dd5ad5"
            ]
        ]
    },
    {
        "id": "2bb5773bc7dd5ad5",
        "type": "file",
        "z": "65eb713d429814a4",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    }
]