core/delivery/.flows.json.backup
[
    {
        "id": "20080e9522dba17a",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4a91dd7bfc833e7",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be71d2b93d53caac",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65eb713d429814a4",
        "type": "tab",
        "label": "Sniffer / MQTT Monitor",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b169a9f9f2fdc84c",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "ZMQ Receiver",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "36da8bea1959fbca",
            "d0396c344ab22f9c",
            "b6034584ef370295",
            "a90949c5da48bfdc"
        ],
        "x": 74,
        "y": 99,
        "w": 532,
        "h": 142
    },
    {
        "id": "0f9186a82e87dfc2",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "Broker MQTT",
        "style": {
            "stroke": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d1928eef1a094621",
            "215475b220f7c97d",
            "bf9379fa210a8ecc"
        ],
        "x": 634,
        "y": 99,
        "w": 512,
        "h": 142
    },
    {
        "id": "ba6a1b32fd321ca2",
        "type": "group",
        "z": "f4a91dd7bfc833e7",
        "name": "Processor",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "1eed795d89c44e79",
            "1ed9ef381529fe5c",
            "37fed7b31a998b66",
            "43fd630789b23562",
            "2eaae339269ab06b",
            "6f9671d7a3dfdabf",
            "eb555e75fc17430c",
            "9d27a1415f491dbc",
            "f853084e4951664c",
            "2d8c6d84e253344b",
            "280682499a563c46"
        ],
        "x": 34,
        "y": 39,
        "w": 892,
        "h": 222
    },
    {
        "id": "a092e4acc9b2bb17",
        "type": "group",
        "z": "be71d2b93d53caac",
        "name": "Controller",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "01fbaf9d9951d14a",
            "c7534669245d4787",
            "5ddbf214fb94523a",
            "45954c122b1b7607",
            "7962766549577b0c",
            "c4a0cf2f880318ed",
            "d59002e15ec3ed65",
            "373bc88b1ed61798",
            "26c34e7092ac50a8",
            "f50f0e7c477377e5"
        ],
        "x": 14,
        "y": 99,
        "w": 1292,
        "h": 122
    },
    {
        "id": "3cae7c106a179c06",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "setupConnectors",
        "style": {
            "label": true
        },
        "nodes": [
            "2c41a02cebeecc73",
            "c7a1c23d89bb859a",
            "67e473f58890e577",
            "fefc695b1d1202e1",
            "d688dac75e8ef6e9",
            "d5ea1ef0df385798"
        ],
        "x": 74,
        "y": 259,
        "w": 892,
        "h": 142
    },
    {
        "id": "fd50d99e0df2f9e4",
        "type": "group",
        "z": "be71d2b93d53caac",
        "name": "store-and-forward",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "color": "#777777"
        },
        "nodes": [
            "58707d6834a970f9",
            "451267583e47c925",
            "aef027c552fc3e11",
            "c5115ad91d580029",
            "21c35530601a19d7",
            "d79fbae1969217e0"
        ],
        "x": 14,
        "y": 239,
        "w": 662,
        "h": 142
    },
    {
        "id": "36da8bea1959fbca",
        "type": "zeromq in",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ZMQ Receiver",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/context.ipc",
        "output": "json",
        "isserver": false,
        "intype": "pull",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "d0396c344ab22f9c",
                "a90949c5da48bfdc"
            ]
        ]
    },
    {
        "id": "d0396c344ab22f9c",
        "type": "json",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ToObject",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "b6034584ef370295"
            ]
        ]
    },
    {
        "id": "b6034584ef370295",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Message Out",
        "mode": "link",
        "links": [
            "1eed795d89c44e79"
        ],
        "x": 510,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "a90949c5da48bfdc",
        "type": "debug",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Messaging Input Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1928eef1a094621",
        "type": "link in",
        "z": "20080e9522dba17a",
        "g": "0f9186a82e87dfc2",
        "name": "Message In",
        "links": [
            "2eaae339269ab06b"
        ],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "215475b220f7c97d",
                "bf9379fa210a8ecc"
            ]
        ],
        "l": true
    },
    {
        "id": "215475b220f7c97d",
        "type": "debug",
        "z": "20080e9522dba17a",
        "g": "0f9186a82e87dfc2",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c41a02cebeecc73",
        "type": "inject",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "startMessaging",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "c7a1c23d89bb859a"
            ]
        ]
    },
    {
        "id": "c7a1c23d89bb859a",
        "type": "switch",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "checkEdgeManifest",
        "property": "manifest",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "67e473f58890e577"
            ],
            [
                "fefc695b1d1202e1"
            ]
        ]
    },
    {
        "id": "67e473f58890e577",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "RequestConfig",
        "mode": "link",
        "links": [
            "01fbaf9d9951d14a"
        ],
        "x": 620,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "fefc695b1d1202e1",
        "type": "function",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "setupConnectors",
        "func": "const manifest = global.get(\"manifest\");\nconst gateway_id = global.get(\"gateway_id\");\n\nif (!manifest || !manifest.config || !manifest.config.receivers) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Manifesto Inválido\" });\n    node.error(\"Manifesto recebido não possui 'receivers'.\");\n    return\n}\n\nconst connectors = manifest.config.receivers\nlet mqttConfig = null;\nfor (const key in connectors) {\n    const connector = connectors[key];\n    if (connector.protocol === \"mqtt\") {\n        mqttConfig = connector;\n        break;\n    }\n}\n\nif (!mqttConfig) {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"MQTT não configurado\" });\n    node.warn(\"Nenhum receiver com protocol='mqtt' foi encontrado no manifesto.\");\n    return;\n}\n\nconst brokerUrl = `mqtt://${mqttConfig.host}:${mqttConfig.port}`;\n\nlet client = context.get('mqttClient');\nlet currentUrl = context.get('currentBrokerUrl');\nif (client && client.connected && currentUrl === brokerUrl) {\n    node.warn(\"Connector '\" + mqttConfig.protocol + \"' ja configurado\");\n    return; \n}\n\nif (client) {\n    client.end();\n}\n\nconst spB = sparkplugPayload.get(\"spBv1.0\");\nconst nDeathPayload = spB.encodePayload({\n    timestamp: Date.now(),\n    metrics: [{ name: \"bdSeq\", type: \"UInt64\", value: 0 }]\n});\n\nclient = mqtt.connect(brokerUrl, {\n    clientId: gateway_id, \n    will: {\n        topic: `spBv1.0/${manifest.config.site}/NDEATH/${gateway_id}`,\n        payload: nDeathPayload,\n        qos: 0,\n        retain: false\n    }\n});\n\nclient.on('connect', () => {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Broker Conectado\" });\n    \n    global.set('mqttClient', client); \n    \n    msg.payload = { status: \"CONECTADO\", manifestoAtivo: manifest };\n    msg.topic = \"connection_status\"\n    node.send(msg);\n});\n\nclient.on('error', (/** @type {NodeMessage} */ err) => {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Erro de Conexão\" });\n    node.error(\"Falha no MQTT: \", err);\n});\n\nclient.on('offline', () => {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"Offline\" });\n});\n\ncontext.set('mqttClient', client);\ncontext.set('currentBrokerUrl', brokerUrl);\n\nnode.on('close', function(removed, done) {\n    if (client) {\n        client.end(true, () => {\n            node.log(\"Conexão MQTT encerrada pelo fechamento do nó.\");\n            done();\n        });\n    } else {\n        done();\n    }\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mqtt",
                "module": "mqtt"
            },
            {
                "var": "sparkplugPayload",
                "module": "sparkplug-payload"
            }
        ],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "d5ea1ef0df385798"
            ]
        ]
    },
    {
        "id": "d688dac75e8ef6e9",
        "type": "link in",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "newManifest",
        "links": [
            "f50f0e7c477377e5"
        ],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "fefc695b1d1202e1"
            ]
        ],
        "l": true
    },
    {
        "id": "bf9379fa210a8ecc",
        "type": "function",
        "z": "20080e9522dba17a",
        "g": "0f9186a82e87dfc2",
        "name": "publishData",
        "func": "const client = global.get(\"mqttClient\");\n\nif (!client || !client.connected) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Broker offline\" });\n    node.error(\"Falha ao publicar: Cliente MQTT desconectado.\", msg);\n    // TODO: Fazer o store-and-forward\n    return;\n}\n\nconst topic = msg.topic;\nconst bufferPayload = msg.payload;\n\nclient.publish(topic, bufferPayload, { qos: 0, retain: false }, (/** @type {NodeMessage} */ err) => {\n    if (err) {\n        node.error(`Erro ao publicar no tópico ${topic}: `, err);\n        node.status({ fill: \"red\", shape: \"dot\", text: \"Erro de I/O\" });\n    } else {\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Publicado\" });\n    }\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ea1ef0df385798",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "Connection Status",
        "mode": "link",
        "links": [
            "37fed7b31a998b66"
        ],
        "x": 850,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "1eed795d89c44e79",
        "type": "link in",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Receiver Queue",
        "links": [
            "b6034584ef370295"
        ],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "6f9671d7a3dfdabf",
                "280682499a563c46"
            ]
        ],
        "l": true
    },
    {
        "id": "1ed9ef381529fe5c",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "DeliveryProcessor",
        "func": "const manifest = global.get(\"manifest\");\nconst gateway_id = global.get(\"gateway_id\");\nconst site = `${manifest.config.plant.enterprise}_${manifest.config.plant.site}`;\nconst spB = sparkplugPayload.get(\"spBv1.0\");\n\nif (msg.topic === \"connection_status\") {\n    let seq = 0;\n    global.set(\"spb_seq\", seq);\n    global.set(\"born_devices\", {});\n\n    const nBirthPayload = spB.encodePayload({\n        timestamp: Date.now(),\n        metrics: [{ name: \"Node Control/Rebirth\", type: \"Boolean\", value: false }],\n        seq: seq\n    });\n\n    global.set(\"spb_seq\", (seq + 1) % 256);\n\n    msg.topic = `spBv1.0/${site}/NBIRTH/${gateway_id}`;\n    msg.payload = nBirthPayload;\n    node.send(msg);\n    return;\n}\n\nif (msg.payload.data) {\n    const contextPayload = msg.payload;\n\n    if (!contextPayload || !contextPayload.asset_context || !contextPayload.data) {\n        node.error(\"Payload SIDA inválido ou sem contexto ISA-95.\");\n        return;\n    }\n\n    const pathItems = contextPayload.asset_context.path;\n    const device_id = pathItems\n        .filter(p => [\"area\", \"line\", \"equipment\"].includes(p.type))\n        .map(p => p.id)\n        .join('_');\n\n    function mapSpbType(type) {\n        const typeMap = { \"float\": \"Float\", \"double\": \"Double\", \"int\": \"Int32\", \"integer\": \"Int32\", \"boolean\": \"Boolean\", \"string\": \"String\" };\n        return typeMap[type.toLowerCase()] || \"String\";\n    }\n\n    const spbMetrics = contextPayload.data.map(d => {\n        let metric = { name: d.name, type: mapSpbType(d.data_type), value: d.value };\n        if (d.unit) {\n            metric.properties = { \"engUnit\": { type: \"String\", value: d.unit } };\n        }\n        return metric;\n    });\n\n    let seq = global.get(\"spb_seq\") || 0;\n    let bornDevices = global.get(\"born_devices\") || {};\n\n    if (!bornDevices[device_id]) {\n        const dBirthPayload = spB.encodePayload({\n            timestamp: contextPayload.timestamp,\n            metrics: spbMetrics,\n            seq: seq\n        });\n\n        node.send({\n            topic: `spBv1.0/${site}/DBIRTH/${gateway_id}/${device_id}`,\n            payload: dBirthPayload\n        });\n\n        bornDevices[device_id] = true;\n        global.set(\"born_devices\", bornDevices);\n        seq = (seq + 1) % 256;\n    }\n\n    const dDataPayload = spB.encodePayload({\n        timestamp: contextPayload.timestamp,\n        metrics: spbMetrics,\n        seq: seq\n    });\n\n    global.set(\"spb_seq\", (seq + 1) % 256);\n\n    node.send({\n        topic: `spBv1.0/${site}/DDATA/${gateway_id}/${device_id}`,\n        payload: dDataPayload\n    });\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "sparkplugPayload",
                "module": "sparkplug-payload"
            }
        ],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "43fd630789b23562",
                "2eaae339269ab06b"
            ]
        ]
    },
    {
        "id": "37fed7b31a998b66",
        "type": "link in",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Config",
        "links": [
            "d5ea1ef0df385798"
        ],
        "x": 170,
        "y": 180,
        "wires": [
            [
                "6f9671d7a3dfdabf",
                "9d27a1415f491dbc"
            ]
        ],
        "l": true
    },
    {
        "id": "43fd630789b23562",
        "type": "debug",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Processor Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "2eaae339269ab06b",
        "type": "link out",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "d1928eef1a094621"
        ],
        "x": 780,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "6f9671d7a3dfdabf",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "retentionRouter",
        "func": "const client = global.get(\"mqttClient\");\nconst contextPayload = msg.payload;\n\nif (contextPayload.data) {\n\n    if (client && client.connected) {\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Connector Online\" });\n        node.send([msg, null]);\n    }\n\n    else {\n        node.status({ fill: \"yellow\", shape: \"ring\", text: \"Connector Offline - Salvando na API\" });\n        \n        let msgHttp = {\n            method: \"POST\",\n            url: \"http://sida-core:8080/api/buffer\",\n            headers: { \"Content-Type\": \"application/json\" },\n            payload: contextPayload\n        };\n        \n        node.send([null, msgHttp]);\n    }\n} else {\n    node.send([msg, null]);\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "1ed9ef381529fe5c"
            ],
            [
                "eb555e75fc17430c"
            ]
        ]
    },
    {
        "id": "eb555e75fc17430c",
        "type": "link out",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "BufferQueue",
        "mode": "link",
        "links": [
            "58707d6834a970f9"
        ],
        "x": 530,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "9d27a1415f491dbc",
        "type": "delay",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "waitNBirth",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "f853084e4951664c"
            ]
        ]
    },
    {
        "id": "f853084e4951664c",
        "type": "link out",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "RequestQueue",
        "mode": "link",
        "links": [
            "aef027c552fc3e11"
        ],
        "x": 520,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "2d8c6d84e253344b",
        "type": "link in",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "BufferIn",
        "links": [
            "d79fbae1969217e0"
        ],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "1ed9ef381529fe5c"
            ]
        ],
        "l": true
    },
    {
        "id": "280682499a563c46",
        "type": "debug",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "01fbaf9d9951d14a",
        "type": "link in",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "Controller In",
        "links": [
            "67e473f58890e577"
        ],
        "x": 130,
        "y": 140,
        "wires": [
            [
                "5ddbf214fb94523a"
            ]
        ],
        "l": true
    },
    {
        "id": "c7534669245d4787",
        "type": "zeromq in",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "ManifestUpdate",
        "topic": "sida/manifest",
        "fields": "topic,payload",
        "server": "tcp://sida-core:5556",
        "output": "buffer",
        "isserver": false,
        "intype": "sub",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "5ddbf214fb94523a"
            ]
        ]
    },
    {
        "id": "5ddbf214fb94523a",
        "type": "switch",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "checkGatewayID",
        "property": "gateway_id",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "45954c122b1b7607"
            ],
            [
                "c4a0cf2f880318ed"
            ]
        ]
    },
    {
        "id": "45954c122b1b7607",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "getEdgeConfig",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sida-core:8000/api/system/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "7962766549577b0c"
            ]
        ]
    },
    {
        "id": "7962766549577b0c",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "setGatewayID",
        "rules": [
            {
                "t": "set",
                "p": "gateway_id",
                "pt": "global",
                "to": "payload.gateway_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "c4a0cf2f880318ed"
            ]
        ]
    },
    {
        "id": "c4a0cf2f880318ed",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "setUrl",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"http://sida-core:8000/api/config/manifest?gateway_id=\" & $globalContext(\"gateway_id\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "d59002e15ec3ed65"
            ]
        ]
    },
    {
        "id": "d59002e15ec3ed65",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "373bc88b1ed61798"
            ]
        ]
    },
    {
        "id": "373bc88b1ed61798",
        "type": "switch",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "checkResponse",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "26c34e7092ac50a8"
            ]
        ]
    },
    {
        "id": "26c34e7092ac50a8",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "SetEdgeManifest",
        "rules": [
            {
                "t": "set",
                "p": "manifest",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "f50f0e7c477377e5"
            ]
        ]
    },
    {
        "id": "f50f0e7c477377e5",
        "type": "link out",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "Controller Out",
        "mode": "link",
        "links": [
            "d688dac75e8ef6e9"
        ],
        "x": 1200,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "58707d6834a970f9",
        "type": "link in",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "StoreAndForward",
        "links": [
            "eb555e75fc17430c"
        ],
        "x": 120,
        "y": 280,
        "wires": [
            [
                "451267583e47c925"
            ]
        ],
        "l": true
    },
    {
        "id": "451267583e47c925",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "StoreAndForward",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aef027c552fc3e11",
        "type": "link in",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "FlushData",
        "links": [
            "f853084e4951664c"
        ],
        "x": 100,
        "y": 340,
        "wires": [
            [
                "c5115ad91d580029"
            ]
        ],
        "l": true
    },
    {
        "id": "c5115ad91d580029",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "pullBuffer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sida-core:8080/api/buffer/flush",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "21c35530601a19d7"
            ]
        ]
    },
    {
        "id": "21c35530601a19d7",
        "type": "function",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "bufferDistributor",
        "func": "const respostaApi = msg.payload;\n\nif (respostaApi && respostaApi.status === \"success\" && Array.isArray(respostaApi.data)) {\n    const pacotes = respostaApi.data;\n    \n    if (pacotes.length > 0) {\n        node.status({ fill: \"blue\", shape: \"dot\", text: `Injetando ${pacotes.length} retidos` });\n        \n        pacotes.forEach(pacote => {\n            let msgRecuperada = {\n                topic: \"data\", \n                payload: pacote\n            };\n            \n            node.send(msgRecuperada);\n        });\n        \n    } else {\n        node.status({ fill: \"grey\", shape: \"ring\", text: \"Buffer estava vazio\" });\n    }\n} else {\n    node.error(\"Resposta inesperada da API de Buffer\", msg);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "d79fbae1969217e0"
            ]
        ]
    },
    {
        "id": "d79fbae1969217e0",
        "type": "link out",
        "z": "be71d2b93d53caac",
        "g": "fd50d99e0df2f9e4",
        "name": "BufferOut",
        "mode": "link",
        "links": [
            "2d8c6d84e253344b"
        ],
        "x": 590,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "7de90c1fbd8c9941",
        "type": "mqtt in",
        "z": "65eb713d429814a4",
        "name": "sniffer",
        "topic": "spBv1.0/#",
        "qos": "2",
        "datatype": "buffer",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5db3f49eb9f068a9",
                "034a9c34b6088376",
                "8a61850ff2292cbd"
            ]
        ]
    },
    {
        "id": "5db3f49eb9f068a9",
        "type": "function",
        "z": "65eb713d429814a4",
        "d": true,
        "name": "SPB Length",
        "func": "const protoLength = msg.payload.length;\n\nnode.warn(\"📦 Tamanho trafegado (Protobuf): \" + protoLength + \" bytes\");\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "034a9c34b6088376",
        "type": "debug",
        "z": "65eb713d429814a4",
        "name": "Proto Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "8a61850ff2292cbd",
        "type": "function",
        "z": "65eb713d429814a4",
        "name": "Latency",
        "func": "let latencyQueue = global.get('latency_queue') || [];\n\nif (latencyQueue.length >= 0) {\n    const sendTime = latencyQueue.shift(); \n    global.set('latency_queue', latencyQueue); \n    \n    const latency = Date.now() - sendTime;\n    const protobufLength = msg.payload.length;\n    \n    // node.warn(`Latência: ${latency}ms | Tamanho: ${tamanhoProtobuf} bytes`);\n    \n    msg.payload = `${Date.now()},${latency},${protobufLength}\\n`;\n    \n    msg.filename = \"/data/log/network_latency.csv\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "2bb5773bc7dd5ad5"
            ]
        ]
    },
    {
        "id": "2bb5773bc7dd5ad5",
        "type": "file",
        "z": "65eb713d429814a4",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    }
]