core/delivery/flows.json
[
    {
        "id": "20080e9522dba17a",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4a91dd7bfc833e7",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be71d2b93d53caac",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65eb713d429814a4",
        "type": "tab",
        "label": "Sniffer / MQTT Monitor",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b169a9f9f2fdc84c",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "ZMQ Receiver",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "36da8bea1959fbca",
            "d0396c344ab22f9c",
            "b6034584ef370295",
            "a90949c5da48bfdc"
        ],
        "x": 74,
        "y": 99,
        "w": 532,
        "h": 142
    },
    {
        "id": "0f9186a82e87dfc2",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "Broker MQTT",
        "style": {
            "stroke": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d1928eef1a094621",
            "a88317af959e8167",
            "215475b220f7c97d"
        ],
        "x": 634,
        "y": 99,
        "w": 502,
        "h": 142
    },
    {
        "id": "ba6a1b32fd321ca2",
        "type": "group",
        "z": "f4a91dd7bfc833e7",
        "name": "Processor",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "a2c12bcdbb991cf7",
            "f0158cfd43983707",
            "50b1232778c14788",
            "bb9d3d5d27646cc2",
            "d3c7a3bda6911916",
            "4b39ced9533d7a88",
            "1eed795d89c44e79",
            "a16033606934f38c"
        ],
        "x": 64,
        "y": 99,
        "w": 762,
        "h": 222
    },
    {
        "id": "a092e4acc9b2bb17",
        "type": "group",
        "z": "be71d2b93d53caac",
        "name": "Controller",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "01fbaf9d9951d14a",
            "c7534669245d4787",
            "5ddbf214fb94523a",
            "45954c122b1b7607",
            "7962766549577b0c",
            "c4a0cf2f880318ed",
            "d59002e15ec3ed65",
            "373bc88b1ed61798",
            "26c34e7092ac50a8",
            "f50f0e7c477377e5"
        ],
        "x": 14,
        "y": 99,
        "w": 1162,
        "h": 122
    },
    {
        "id": "3cae7c106a179c06",
        "type": "group",
        "z": "20080e9522dba17a",
        "name": "setupConnectors",
        "style": {
            "label": true
        },
        "nodes": [
            "2c41a02cebeecc73",
            "c7a1c23d89bb859a",
            "67e473f58890e577",
            "fefc695b1d1202e1",
            "d688dac75e8ef6e9"
        ],
        "x": 74,
        "y": 259,
        "w": 672,
        "h": 142
    },
    {
        "id": "2312654bef2ae844",
        "type": "mqtt-broker",
        "name": "MQTT GCP",
        "broker": "34.134.241.250",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "97528de95b131960",
        "type": "mqtt-sparkplug-broker",
        "name": "",
        "deviceGroup": "",
        "eonName": "",
        "broker": "34.134.241.250",
        "port": 1883,
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": false,
        "useTemplates": true,
        "templates": [],
        "manualEoNBirth": false,
        "primaryScada": ""
    },
    {
        "id": "36da8bea1959fbca",
        "type": "zeromq in",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ZMQ Receiver",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/context.ipc",
        "output": "json",
        "isserver": false,
        "intype": "pull",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "d0396c344ab22f9c",
                "a90949c5da48bfdc"
            ]
        ]
    },
    {
        "id": "d0396c344ab22f9c",
        "type": "json",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "ToObject",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "b6034584ef370295"
            ]
        ]
    },
    {
        "id": "b6034584ef370295",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Message Out",
        "mode": "link",
        "links": [
            "1eed795d89c44e79"
        ],
        "x": 510,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "a90949c5da48bfdc",
        "type": "debug",
        "z": "20080e9522dba17a",
        "g": "b169a9f9f2fdc84c",
        "name": "Messaging Input Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1928eef1a094621",
        "type": "link in",
        "z": "20080e9522dba17a",
        "g": "0f9186a82e87dfc2",
        "name": "Message In",
        "links": [
            "a16033606934f38c"
        ],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "a88317af959e8167",
                "215475b220f7c97d"
            ]
        ],
        "l": true
    },
    {
        "id": "a88317af959e8167",
        "type": "mqtt sparkplug out",
        "z": "20080e9522dba17a",
        "d": true,
        "g": "0f9186a82e87dfc2",
        "name": "UNS Broker (GCP)",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "97528de95b131960",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "215475b220f7c97d",
        "type": "debug",
        "z": "20080e9522dba17a",
        "g": "0f9186a82e87dfc2",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c41a02cebeecc73",
        "type": "inject",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "startMessaging",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "c7a1c23d89bb859a"
            ]
        ]
    },
    {
        "id": "c7a1c23d89bb859a",
        "type": "switch",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "checkEdgeManifest",
        "property": "manifest",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "67e473f58890e577"
            ],
            [
                "fefc695b1d1202e1"
            ]
        ]
    },
    {
        "id": "67e473f58890e577",
        "type": "link out",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "RequestConfig",
        "mode": "link",
        "links": [
            "01fbaf9d9951d14a"
        ],
        "x": 620,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "fefc695b1d1202e1",
        "type": "function",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "setupConnectors",
        "func": "const manifest = global.get(\"manifest\");\nconst gateway_id = global.get(\"gateway_id\");\n\nif (!manifest || !manifest.config || !manifest.config.receivers) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Manifesto Inválido\" });\n    node.error(\"Manifesto recebido não possui 'receivers'.\");\n    return\n}\n\nconst connectors = manifest.config.receivers\nlet mqttConfig = null;\nfor (const key in connectors) {\n    const connector = connectors[key];\n    if (connector.protocol === \"mqtt\") {\n        mqttConfig = connector;\n        break;\n    }\n}\n\nif (!mqttConfig) {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"MQTT não configurado\" });\n    node.warn(\"Nenhum receiver com protocol='mqtt' foi encontrado no manifesto.\");\n    return;\n}\n\nconst brokerUrl = `mqtt://${mqttConfig.host}:${mqttConfig.port}`;\n\nlet client = context.get('mqttClient');\nlet currentUrl = context.get('currentBrokerUrl');\nif (client && client.connected && currentUrl === brokerUrl) {\n    node.warn(\"Connector '\" + mqttConfig.protocol + \"' ja configurado\");\n    return; \n}\n\nif (client) {\n    client.end();\n}\n\nconst spB = sparkplugPayload.get(\"spBv1.0\");\nconst nDeathPayload = spB.encodePayload({\n    timestamp: Date.now(),\n    metrics: [{ name: \"bdSeq\", type: \"UInt64\", value: 0 }]\n});\n\nclient = mqtt.connect(brokerUrl, {\n    clientId: gateway_id, \n    will: {\n        topic: `spBv1.0/${manifest.config.site}/NDEATH/${gateway_id}`,\n        payload: nDeathPayload,\n        qos: 0,\n        retain: false\n    }\n});\n\nclient.on('connect', () => {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Broker Conectado\" });\n    \n    global.set('mqttClient', client); \n    \n    msg.payload = { status: \"CONECTADO\", manifestoAtivo: manifest };\n    node.send(msg);\n});\n\nclient.on('error', (err) => {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Erro de Conexão\" });\n    node.error(\"Falha no MQTT: \", err);\n});\n\nclient.on('offline', () => {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"Offline\" });\n});\n\ncontext.set('mqttClient', client);\ncontext.set('currentBrokerUrl', brokerUrl);\n\nnode.on('close', function(removed, done) {\n    if (client) {\n        client.end(true, () => {\n            node.log(\"Conexão MQTT encerrada pelo fechamento do nó.\");\n            done();\n        });\n    } else {\n        done();\n    }\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mqtt",
                "module": "mqtt"
            },
            {
                "var": "sparkplugPayload",
                "module": "sparkplug-payload"
            }
        ],
        "x": 630,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d688dac75e8ef6e9",
        "type": "link in",
        "z": "20080e9522dba17a",
        "g": "3cae7c106a179c06",
        "name": "newManifest",
        "links": [
            "f50f0e7c477377e5"
        ],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "fefc695b1d1202e1"
            ]
        ],
        "l": true
    },
    {
        "id": "a2c12bcdbb991cf7",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "spbGenerator",
        "func": "const payloadIn = msg.payload;\nconst dataTimestamp = payloadIn.timestamp;\nconst pathArray = payloadIn.asset_context.path;\nconst dataRaw = payloadIn.data;\n\nconst getContextId = (targetType) => {\n    const item = pathArray.find(p => p.type === targetType);\n    return item ? item.id : \"unknown\";\n};\n\nconst enterprise = getContextId(\"enterprise\");\nconst site = getContextId(\"site\");\nconst area = getContextId(\"area\");\n\nconst groupId = `${enterprise}_${site}_${area}`;\nconst nodeId = getContextId(\"line\");\nconst deviceId = getContextId(\"equipment\");\n\nconst dataMetrics = dataRaw.map(item => {\n    let sparkplugType = \"String\";\n    const explicitType = item.data_type ? item.data_type.toLowerCase() : \"\";\n\n    if (explicitType === \"float\" || explicitType === \"double\") {\n        sparkplugType = \"Float\";\n    } else if (explicitType === \"boolean\" || explicitType === \"bool\") {\n        sparkplugType = \"Boolean\";\n    } else if (explicitType === \"int\" || explicitType === \"integer\") {\n        sparkplugType = \"Int32\";\n    } else {\n        if (typeof item.value === \"number\") {\n            sparkplugType = Number.isInteger(item.value) ? \"Int32\" : \"Double\";\n        } else if (typeof item.value === \"boolean\") {\n            sparkplugType = \"Boolean\";\n        }\n    }\n\n    const metric = {\n        name: item.name,\n        value: item.value,\n        type: sparkplugType,\n        timestamp: dataTimestamp\n    };\n\n    if (item.unit) {\n        metric.properties = {\n            engUnit: { type: \"String\", value: item.unit }\n        };\n    }\n\n    return metric;\n});\n\nmsg.topic = `spBv1.0/${groupId}/DDATA/${nodeId}/${deviceId}`;\nmsg.payload = {\n    metrics: dataMetrics\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "f0158cfd43983707",
                "bb9d3d5d27646cc2",
                "4b39ced9533d7a88",
                "a16033606934f38c"
            ]
        ]
    },
    {
        "id": "f0158cfd43983707",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "d": true,
        "g": "ba6a1b32fd321ca2",
        "name": "JSON Length",
        "func": "const jsonText = JSON.stringify(msg.payload);\nconst jsonLength = Buffer.byteLength(jsonText, 'utf8');\n\nnode.warn(\"📊 Tamanho do JSON bruto: \" + jsonLength + \" bytes\");\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "50b1232778c14788",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Start",
        "func": "msg.startTime = Date.now();\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a2c12bcdbb991cf7"
            ]
        ]
    },
    {
        "id": "bb9d3d5d27646cc2",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "d": true,
        "g": "ba6a1b32fd321ca2",
        "name": "Process Monitor",
        "func": "if (msg.startTime) {\n    const totalTime = Date.now() - msg.startTime;\n    \n    msg.payload = `${Date.now()},${totalTime}\\n`;\n    msg.filename = \"/data/log/process_time.csv\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "d3c7a3bda6911916"
            ]
        ]
    },
    {
        "id": "d3c7a3bda6911916",
        "type": "file",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 740,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4b39ced9533d7a88",
        "type": "function",
        "z": "f4a91dd7bfc833e7",
        "d": true,
        "g": "ba6a1b32fd321ca2",
        "name": "Latency Monitor",
        "func": "let filaLatencia = global.get('latency_queue') || [];\n\nfilaLatencia.push(Date.now());\nglobal.set('fila_latencia', filaLatencia);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1eed795d89c44e79",
        "type": "link in",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Receiver Queue",
        "links": [
            "b6034584ef370295"
        ],
        "x": 105,
        "y": 140,
        "wires": [
            [
                "50b1232778c14788"
            ]
        ]
    },
    {
        "id": "a16033606934f38c",
        "type": "link out",
        "z": "f4a91dd7bfc833e7",
        "g": "ba6a1b32fd321ca2",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "d1928eef1a094621"
        ],
        "x": 475,
        "y": 140,
        "wires": []
    },
    {
        "id": "01fbaf9d9951d14a",
        "type": "link in",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "Controller In",
        "links": [
            "67e473f58890e577"
        ],
        "x": 185,
        "y": 140,
        "wires": [
            [
                "5ddbf214fb94523a"
            ]
        ]
    },
    {
        "id": "c7534669245d4787",
        "type": "zeromq in",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "ManifestUpdate",
        "topic": "sida/manifest",
        "fields": "topic,payload",
        "server": "tcp://sida-core:5556",
        "output": "buffer",
        "isserver": false,
        "intype": "sub",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "5ddbf214fb94523a"
            ]
        ]
    },
    {
        "id": "5ddbf214fb94523a",
        "type": "switch",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "checkGatewayID",
        "property": "gateway_id",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "45954c122b1b7607"
            ],
            [
                "c4a0cf2f880318ed"
            ]
        ]
    },
    {
        "id": "45954c122b1b7607",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "getEdgeConfig",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sida-core:8000/api/system/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "7962766549577b0c"
            ]
        ]
    },
    {
        "id": "7962766549577b0c",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "setGatewayID",
        "rules": [
            {
                "t": "set",
                "p": "gateway_id",
                "pt": "global",
                "to": "payload.gateway_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "c4a0cf2f880318ed"
            ]
        ]
    },
    {
        "id": "c4a0cf2f880318ed",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "setUrl",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"http://sida-core:8000/api/config/manifest?gateway_id=\" & $globalContext(\"gateway_id\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "d59002e15ec3ed65"
            ]
        ]
    },
    {
        "id": "d59002e15ec3ed65",
        "type": "http request",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "373bc88b1ed61798"
            ]
        ]
    },
    {
        "id": "373bc88b1ed61798",
        "type": "switch",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "checkResponse",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "26c34e7092ac50a8"
            ]
        ]
    },
    {
        "id": "26c34e7092ac50a8",
        "type": "change",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "SetEdgeManifest",
        "rules": [
            {
                "t": "set",
                "p": "manifest",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "f50f0e7c477377e5"
            ]
        ]
    },
    {
        "id": "f50f0e7c477377e5",
        "type": "link out",
        "z": "be71d2b93d53caac",
        "g": "a092e4acc9b2bb17",
        "name": "Controller Out",
        "mode": "link",
        "links": [
            "d688dac75e8ef6e9"
        ],
        "x": 1135,
        "y": 180,
        "wires": []
    },
    {
        "id": "7de90c1fbd8c9941",
        "type": "mqtt in",
        "z": "65eb713d429814a4",
        "name": "sniffer",
        "topic": "spBv1.0/#",
        "qos": "2",
        "datatype": "buffer",
        "broker": "2312654bef2ae844",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5db3f49eb9f068a9",
                "034a9c34b6088376",
                "8a61850ff2292cbd"
            ]
        ]
    },
    {
        "id": "5db3f49eb9f068a9",
        "type": "function",
        "z": "65eb713d429814a4",
        "d": true,
        "name": "SPB Length",
        "func": "const protoLength = msg.payload.length;\n\nnode.warn(\"📦 Tamanho trafegado (Protobuf): \" + protoLength + \" bytes\");\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "034a9c34b6088376",
        "type": "debug",
        "z": "65eb713d429814a4",
        "name": "Proto Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "8a61850ff2292cbd",
        "type": "function",
        "z": "65eb713d429814a4",
        "name": "Latency",
        "func": "let latencyQueue = global.get('latency_queue') || [];\n\nif (latencyQueue.length >= 0) {\n    const sendTime = latencyQueue.shift(); \n    global.set('latency_queue', latencyQueue); \n    \n    const latency = Date.now() - sendTime;\n    const protobufLength = msg.payload.length;\n    \n    // node.warn(`Latência: ${latency}ms | Tamanho: ${tamanhoProtobuf} bytes`);\n    \n    msg.payload = `${Date.now()},${latency},${protobufLength}\\n`;\n    \n    msg.filename = \"/data/log/network_latency.csv\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "2bb5773bc7dd5ad5"
            ]
        ]
    },
    {
        "id": "2bb5773bc7dd5ad5",
        "type": "file",
        "z": "65eb713d429814a4",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    }
]