core/ingestion/.flows.json.backup
[
    {
        "id": "bf8d16b5667222e0",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e19e885c5971d19",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4372056093a7dc1b",
        "type": "group",
        "z": "bf8d16b5667222e0",
        "name": "ZMQ Sender",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "abab80c8e67aac5c",
            "02d9ff725ecbb71c",
            "54734105d5a65c14",
            "7491cbfe6b0b41dc"
        ],
        "x": 64,
        "y": 99,
        "w": 542,
        "h": 142
    },
    {
        "id": "937213232cd58bf4",
        "type": "modbus-client",
        "name": "ClienteModBus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "host.docker.internal",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "abab80c8e67aac5c",
        "type": "link in",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Message In",
        "links": [
            "e49bd44efe452f73"
        ],
        "x": 105,
        "y": 200,
        "wires": [
            [
                "02d9ff725ecbb71c"
            ]
        ]
    },
    {
        "id": "02d9ff725ecbb71c",
        "type": "json",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ToString",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "54734105d5a65c14",
                "7491cbfe6b0b41dc"
            ]
        ]
    },
    {
        "id": "54734105d5a65c14",
        "type": "zeromq out",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ZQM Output",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/ingestion.ipc",
        "isserver": true,
        "intype": "push",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "7491cbfe6b0b41dc",
        "type": "debug",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b02c3c4a8ee2acb",
        "type": "modbus-read",
        "z": "9e19e885c5971d19",
        "name": "LeitorPLC_ModBus",
        "topic": "polling",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "9",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": true,
        "startDelayTime": "",
        "server": "937213232cd58bf4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "029762e2e14db32f"
            ],
            [
                "f87ace90293c1c4e"
            ]
        ]
    },
    {
        "id": "029762e2e14db32f",
        "type": "debug",
        "z": "9e19e885c5971d19",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "f87ace90293c1c4e",
        "type": "function",
        "z": "9e19e885c5971d19",
        "name": "modbusToJson",
        "func": "var rawData = msg.payload.data;\n\nmsg.payload = {\n    \"temperature\": rawData[0],\n    \"humidity\": rawData[1],\n    \"timestamp\": new Date().toISOString()\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "33923757fec61704"
            ]
        ]
    },
    {
        "id": "33923757fec61704",
        "type": "json",
        "z": "9e19e885c5971d19",
        "name": "JSON Anotado",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "22f8671443f9fb70",
                "e49bd44efe452f73"
            ]
        ]
    },
    {
        "id": "22f8671443f9fb70",
        "type": "debug",
        "z": "9e19e885c5971d19",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "e49bd44efe452f73",
        "type": "link out",
        "z": "9e19e885c5971d19",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "abab80c8e67aac5c"
        ],
        "x": 795,
        "y": 240,
        "wires": []
    }
]