core/ingestion/flows.json
[
    {
        "id": "bf8d16b5667222e0",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e19e885c5971d19",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aaee6471150744f1",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4372056093a7dc1b",
        "type": "group",
        "z": "bf8d16b5667222e0",
        "name": "ZMQ Sender",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "abab80c8e67aac5c",
            "02d9ff725ecbb71c",
            "54734105d5a65c14",
            "7491cbfe6b0b41dc"
        ],
        "x": 34,
        "y": 139,
        "w": 662,
        "h": 142
    },
    {
        "id": "a128b0c239b73023",
        "type": "group",
        "z": "aaee6471150744f1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "364461ecab765c2c",
            "77e0020e57c60ee3",
            "ab51cc16ba54591e",
            "ec667cc729e2e248",
            "caa5b416917446c7",
            "a4e97b28a43e8ac4",
            "2759d95830d70018",
            "a9df0f3697eb03af",
            "638e8a22a1149575",
            "2750b24fc825b54e"
        ],
        "x": 34,
        "y": 119,
        "w": 1222,
        "h": 162
    },
    {
        "id": "8ef01d727620bf3e",
        "type": "group",
        "z": "bf8d16b5667222e0",
        "name": "SetupClients",
        "style": {
            "label": true
        },
        "nodes": [
            "ccea0bf949fb23b4",
            "f133a05b9c606a89",
            "e4d12e1c41dea844",
            "8cbeb60de162ae13",
            "c0326375021887cf",
            "3c22d78beb5db72c"
        ],
        "x": 34,
        "y": 299,
        "w": 852,
        "h": 142
    },
    {
        "id": "38373b49dbe342a8",
        "type": "group",
        "z": "9e19e885c5971d19",
        "name": "Processor",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e49bd44efe452f73",
            "653a12304f363ae3",
            "d066b0653a83c8c3",
            "e17fabc35a2d0660"
        ],
        "x": 274,
        "y": 179,
        "w": 472,
        "h": 162
    },
    {
        "id": "abab80c8e67aac5c",
        "type": "link in",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Message In",
        "links": [
            "e49bd44efe452f73"
        ],
        "x": 130,
        "y": 240,
        "wires": [
            [
                "02d9ff725ecbb71c"
            ]
        ],
        "l": true
    },
    {
        "id": "02d9ff725ecbb71c",
        "type": "json",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ToString",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "54734105d5a65c14",
                "7491cbfe6b0b41dc"
            ]
        ]
    },
    {
        "id": "54734105d5a65c14",
        "type": "zeromq out",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ZQM Output",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/ingestion.ipc",
        "isserver": true,
        "intype": "push",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "7491cbfe6b0b41dc",
        "type": "debug",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "8cbeb60de162ae13",
        "type": "link out",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "Message Out",
        "mode": "link",
        "links": [
            "653a12304f363ae3"
        ],
        "x": 790,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "c0326375021887cf",
        "type": "inject",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "startMessaging",
        "props": [
            {
                "p": "startTime",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f133a05b9c606a89"
            ]
        ]
    },
    {
        "id": "f133a05b9c606a89",
        "type": "switch",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "CheckEdgeManifest",
        "property": "manifest",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "3c22d78beb5db72c"
            ],
            [
                "ccea0bf949fb23b4"
            ]
        ]
    },
    {
        "id": "3c22d78beb5db72c",
        "type": "link out",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "RequestConfig",
        "mode": "link",
        "links": [
            "ec667cc729e2e248"
        ],
        "x": 600,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "e4d12e1c41dea844",
        "type": "link in",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "newManifest",
        "links": [
            "a9df0f3697eb03af"
        ],
        "x": 465,
        "y": 400,
        "wires": [
            [
                "ccea0bf949fb23b4"
            ]
        ]
    },
    {
        "id": "ccea0bf949fb23b4",
        "type": "function",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "setupClient",
        "func": "(async function () {\n    const manifest = global.get(\"manifest\");\n    const gateway_id = global.get(\"gateway_id\");\n\n    node.warn(manifest);\n\n    if (!manifest || !manifest.config || !manifest.config.plant || !manifest.config.plant.areas) {\n        node.warn(\"Manifesto inválido no Messaging. Estrutura de Planta/Áreas ausente.\");\n        return;\n    }\n\n    let modbus_clients = global.get(\"modbus_clients\") || {};\n    let opcua_clients = global.get(\"opcua_clients\") || {};\n\n    for (let id in modbus_clients) {\n        if (modbus_clients[id].client && modbus_clients[id].client.isOpen) {\n            modbus_clients[id].client.close();\n        }\n    }\n\n    for (let id in opcua_clients) {\n        try {\n            if (opcua_clients[id].session) await opcua_clients[id].session.close();\n            if (opcua_clients[id].client) await opcua_clients[id].client.disconnect();\n        } catch (erro) {\n            node.warn(`[Messaging] Erro ao fechar OPC UA antigo de ${id}: ${erro.message}`);\n        }\n    }\n\n    modbus_clients = {};\n    opcua_clients = {};\n    const areas = manifest.config.plant.areas;\n\n    for (const areaId of Object.keys(areas)) {\n        const lines = areas[areaId].lines || {};\n        for (const lineId of Object.keys(lines)) {\n            const devices = lines[lineId].devices || {};\n            for (const deviceId of Object.keys(devices)) {\n                const dev = devices[deviceId];\n                if (dev.enabled !== true) continue;\n\n                const protocol = dev.connection.protocol;\n\n                if (protocol === \"modbus_tcp\") {\n                    const client = new ModbusRTU();\n                    try {\n                        await client.connectTCP(dev.connection.host, { port: dev.connection.port || 502 });\n                        client.setID(dev.connection.unit_id || 1);\n\n                        modbus_clients[deviceId] = {\n                            client: client,\n                            config: dev,\n                            gateway_id: gateway_id\n                        };\n                        node.warn(`[Messaging] Conexão MODBUS estabelecida com ${deviceId}`);\n                    } catch (erro) {\n                        node.warn(`[Messaging] Erro ao conectar MODBUS com ${deviceId}: ${erro.message}`);\n                    }\n                }\n\n                else if (protocol === \"opc_ua\") {\n                    try {\n                        const client = opcua.OPCUAClient.create({\n                            endpointMustExist: false,\n                            connectionStrategy: {\n                                maxRetry: 2,\n                                initialDelay: 1000,\n                                maxDelay: 2000\n                            }\n                        });\n\n                        await client.connect(dev.connection.endpoint_url);\n                        const session = await client.createSession();\n\n                        opcua_clients[deviceId] = {\n                            client: client,\n                            session: session,\n                            config: dev,\n                            gateway_id: gateway_id\n                        };\n                        node.warn(`[Messaging] Conexão OPC UA estabelecida com ${deviceId}`);\n                    } catch (erro) {\n                        node.warn(`[Messaging] Erro ao conectar OPC UA com ${deviceId}: ${erro.message}`);\n                    }\n                }\n            }\n        }\n    }\n\n    global.set(\"modbus_clients\", modbus_clients);\n    global.set(\"opcua_clients\", opcua_clients);\n    \n    node.warn(`Clientes ativos -> Modbus: ${Object.keys(modbus_clients).length} | OPC UA: ${Object.keys(opcua_clients).length}`);\n\n    msg.payload = \"Running\";\n    node.send(msg);;\n\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ModbusRTU",
                "module": "modbus-serial"
            },
            {
                "var": "opcua",
                "module": "node-opcua"
            }
        ],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "8cbeb60de162ae13"
            ]
        ]
    },
    {
        "id": "e49bd44efe452f73",
        "type": "link out",
        "z": "9e19e885c5971d19",
        "g": "38373b49dbe342a8",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "abab80c8e67aac5c"
        ],
        "x": 640,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "653a12304f363ae3",
        "type": "link in",
        "z": "9e19e885c5971d19",
        "g": "38373b49dbe342a8",
        "name": "Receiver Queue",
        "links": [
            "8cbeb60de162ae13"
        ],
        "x": 315,
        "y": 260,
        "wires": [
            [
                "d066b0653a83c8c3",
                "e17fabc35a2d0660"
            ]
        ]
    },
    {
        "id": "d066b0653a83c8c3",
        "type": "function",
        "z": "9e19e885c5971d19",
        "g": "38373b49dbe342a8",
        "name": "modbusPolling",
        "func": "const active_clients = global.get(\"modbus_clients\");\nif (!active_clients) return null;\n\nlet timers = context.get(\"timersAtivos\") || {};\nfor(let key in timers) {\n    clearInterval(timers[key]);\n}\ntimers = {};\n\nObject.keys(active_clients).forEach((deviceId) => {\n    const { client, config, gateway_id } = active_clients[deviceId]\n\n    const scanRate = config.connection.scan_rate_ms || 1000;\n    const metrics = config.metrics_mapping || {};\n\n    let intervalId = setInterval(async () => {\n        if (!client.isOpen) return;\n        try {\n            let data_payload = {};\n            for (let addrKey of Object.keys(metrics)) {\n                const metric = metrics[addrKey];\n\n                let address = parseInt(addrKey);\n                if (address >= 40001 && address <= 49999) address -= 40001;\n                else if (address >= 30001 && address <= 39999) address -= 30001;\n\n                let quantity = (metric.data_type === \"float\" || metric.data_type === \"int32\") ? 2 : 1;\n                if (metric.data_type == \"double\" || metric.data_type == \"int64\") quantity = 4;\n\n                let data;\n                if (metric.register_type === \"holding\" || addrKey.startsWith(\"4\"))\n                    data = await client.readHoldingRegisters(address, quantity);\n                else if (metric.register_type === \"input\" || addrKey.startsWith(\"3\"))\n                    data = await client.readInputRegisters(address, quantity); \n\n                data_payload[addrKey] = (data.data.length === 1) ? data.data[0] : data.data;\n            }\n            node.warn(msg.payload);\n\n            node.send({\n                payload: {\n                    timestamp: Date.now(),\n                    gateway_id: gateway_id,\n                    source: {\n                        device_id: deviceId,\n                        source_protocol: config.connection.protocol\n                    },\n                    data: data_payload\n                }\n            });\n        } catch (erro) {\n            node.warn(`[Messaging] Erro de leitura em ${deviceId}: ${erro.message}`);\n        }\n    }, scanRate);\n\n    timers[deviceId] = intervalId;\n});\n\ncontext.set(\"timersAtivos\", timers);\nif (active_clients.length > 0) node.status({ fill: \"green\", shape: \"dot\", text: \"Lendo e processando...\" });\nelse node.status({ fill: \"pink\", shape: \"dot\", text: \"Sem clientes Modbus ativos\" });\n\nnode.on(\"close\", function () {\n    let timersAtivos = context.get(\"timersAtivos\") || {};\n    for (let key in timersAtivos) clearInterval(timersAtivos[key]);\n    context.set(\"timersAtivos\", {});\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "e49bd44efe452f73"
            ]
        ]
    },
    {
        "id": "e17fabc35a2d0660",
        "type": "function",
        "z": "9e19e885c5971d19",
        "g": "38373b49dbe342a8",
        "name": "opcuaPolling",
        "func": "const active_clients = global.get(\"opcua_clients\");\nif (!active_clients) return null;\n\nlet timers = context.get(\"timersAtivos_opcua\") || {};\nfor(let key in timers) {\n    clearInterval(timers[key]);\n}\ntimers = {};\n\nObject.keys(active_clients).forEach((deviceId) => {\n    const { session, config, gateway_id } = active_clients[deviceId];\n\n    const scanRate = config.connection.scan_rate_ms || 1000;\n    const metrics = config.metrics_mapping || {};\n\n    const nodesToRead = [];\n    const metricKeys = Object.keys(metrics);\n\n    metricKeys.forEach(addrKey => {\n        const metric = metrics[addrKey];\n        if (metric.node_id) {\n            nodesToRead.push({\n                nodeId: metric.node_id,\n                attributeId: 13\n            });\n        }\n    });\n\n    if (nodesToRead.length === 0) return;\n\n    let intervalId = setInterval(async () => {\n        if (!session) return;\n        \n        try {\n            const dataValues = await session.read(nodesToRead);\n\n            let data_payload = {};\n\n            dataValues.forEach((dataValue, index) => {\n                const originalKey = metricKeys[index];\n                \n                let valor = (dataValue.statusCode && dataValue.statusCode.value === 0) \n                            ? dataValue.value.value \n                            : null; \n\n                data_payload[originalKey] = valor;\n            });\n\n            node.send({\n                payload: {\n                    timestamp: Date.now(),\n                    gateway_id: gateway_id,\n                    source: {\n                        device_id: deviceId,\n                        source_protocol: config.connection.protocol\n                    },\n                    data: data_payload\n                }\n            });\n\n        } catch (erro) {\n            node.warn(`[Messaging] Erro de leitura OPC UA em ${deviceId}: ${erro.message}`);\n        }\n    }, scanRate);\n\n    timers[deviceId] = intervalId;\n});\n\ncontext.set(\"timersAtivos_opcua\", timers);\nif (active_clients.length > 0) {\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"Lendo OPC UA em Bulk...\" });\n} else {\n    node.status({ fill: \"pink\", shape: \"dot\", text: \"Sem clientes OPC-UA ativos\" });\n}\n\nnode.on(\"close\", function () {\n    let timersAtivos = context.get(\"timersAtivos_opcua\") || {};\n    for (let key in timersAtivos) clearInterval(timersAtivos[key]);\n    context.set(\"timersAtivos_opcua\", {});\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "e49bd44efe452f73"
            ]
        ]
    },
    {
        "id": "364461ecab765c2c",
        "type": "http request",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "getEdgeConfig",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sida-core:8000/api/system/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "ab51cc16ba54591e"
            ]
        ]
    },
    {
        "id": "77e0020e57c60ee3",
        "type": "switch",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "CheckGatewayID",
        "property": "gateway_id",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "364461ecab765c2c"
            ],
            [
                "a4e97b28a43e8ac4"
            ]
        ]
    },
    {
        "id": "ab51cc16ba54591e",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "SetGatewayID",
        "rules": [
            {
                "t": "set",
                "p": "gateway_id",
                "pt": "global",
                "to": "payload.gateway_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "a4e97b28a43e8ac4"
            ]
        ]
    },
    {
        "id": "ec667cc729e2e248",
        "type": "link in",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "Controller In",
        "links": [
            "3c22d78beb5db72c"
        ],
        "x": 205,
        "y": 200,
        "wires": [
            [
                "77e0020e57c60ee3"
            ]
        ]
    },
    {
        "id": "caa5b416917446c7",
        "type": "http request",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "getEdgeManifest",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 220,
        "wires": [
            [
                "638e8a22a1149575"
            ]
        ]
    },
    {
        "id": "a4e97b28a43e8ac4",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "setUrl",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"http://sida-core:8000/api/config/manifest?gateway_id=\" & $globalContext(\"gateway_id\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "caa5b416917446c7"
            ]
        ]
    },
    {
        "id": "2759d95830d70018",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "SetEdgeManifest",
        "rules": [
            {
                "t": "set",
                "p": "manifest",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "a9df0f3697eb03af"
            ]
        ]
    },
    {
        "id": "a9df0f3697eb03af",
        "type": "link out",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "Controller Out",
        "mode": "link",
        "links": [
            "e4d12e1c41dea844"
        ],
        "x": 1215,
        "y": 220,
        "wires": []
    },
    {
        "id": "638e8a22a1149575",
        "type": "switch",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "checkResponse",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "2759d95830d70018"
            ]
        ]
    },
    {
        "id": "2750b24fc825b54e",
        "type": "zeromq in",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "ManifestUpdate",
        "topic": "sida/manifest",
        "fields": "topic,payload",
        "server": "tcp://sida-core:5556",
        "output": "buffer",
        "isserver": false,
        "intype": "sub",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "77e0020e57c60ee3"
            ]
        ]
    }
]