core/ingestion/flows.json
[
    {
        "id": "bf8d16b5667222e0",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e19e885c5971d19",
        "type": "tab",
        "label": "Processing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aaee6471150744f1",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4372056093a7dc1b",
        "type": "group",
        "z": "bf8d16b5667222e0",
        "name": "ZMQ Sender",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "abab80c8e67aac5c",
            "02d9ff725ecbb71c",
            "54734105d5a65c14",
            "7491cbfe6b0b41dc"
        ],
        "x": 34,
        "y": 139,
        "w": 662,
        "h": 142
    },
    {
        "id": "a128b0c239b73023",
        "type": "group",
        "z": "aaee6471150744f1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "364461ecab765c2c",
            "77e0020e57c60ee3",
            "ab51cc16ba54591e",
            "ec667cc729e2e248",
            "caa5b416917446c7",
            "a4e97b28a43e8ac4",
            "2759d95830d70018",
            "a9df0f3697eb03af",
            "638e8a22a1149575",
            "2750b24fc825b54e"
        ],
        "x": 34,
        "y": 119,
        "w": 1222,
        "h": 162
    },
    {
        "id": "8ef01d727620bf3e",
        "type": "group",
        "z": "bf8d16b5667222e0",
        "name": "Modbus",
        "style": {
            "label": true
        },
        "nodes": [
            "ccea0bf949fb23b4",
            "f133a05b9c606a89",
            "e4d12e1c41dea844",
            "8cbeb60de162ae13",
            "c0326375021887cf",
            "3c22d78beb5db72c"
        ],
        "x": 34,
        "y": 299,
        "w": 852,
        "h": 142
    },
    {
        "id": "937213232cd58bf4",
        "type": "modbus-client",
        "name": "ClienteModBus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "host.docker.internal",
        "tcpPort": "5020",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "abab80c8e67aac5c",
        "type": "link in",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Message In",
        "links": [
            "e49bd44efe452f73"
        ],
        "x": 130,
        "y": 240,
        "wires": [
            [
                "02d9ff725ecbb71c"
            ]
        ],
        "l": true
    },
    {
        "id": "02d9ff725ecbb71c",
        "type": "json",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ToString",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "54734105d5a65c14",
                "7491cbfe6b0b41dc"
            ]
        ]
    },
    {
        "id": "54734105d5a65c14",
        "type": "zeromq out",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "ZQM Output",
        "topic": "",
        "fields": "topic,payload",
        "server": "ipc:///tmp/.ipc/ingestion.ipc",
        "isserver": true,
        "intype": "push",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "7491cbfe6b0b41dc",
        "type": "debug",
        "z": "bf8d16b5667222e0",
        "g": "4372056093a7dc1b",
        "name": "Messaging Output Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "8cbeb60de162ae13",
        "type": "link out",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "Message Out",
        "mode": "link",
        "links": [
            "653a12304f363ae3"
        ],
        "x": 790,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "c0326375021887cf",
        "type": "inject",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "startMessaging",
        "props": [
            {
                "p": "startTime",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f133a05b9c606a89"
            ]
        ]
    },
    {
        "id": "f133a05b9c606a89",
        "type": "switch",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "CheckEdgeManifest",
        "property": "manifest",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "3c22d78beb5db72c"
            ],
            [
                "ccea0bf949fb23b4"
            ]
        ]
    },
    {
        "id": "3c22d78beb5db72c",
        "type": "link out",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "RequestConfig",
        "mode": "link",
        "links": [
            "ec667cc729e2e248"
        ],
        "x": 600,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "e4d12e1c41dea844",
        "type": "link in",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "newManifest",
        "links": [
            "a9df0f3697eb03af"
        ],
        "x": 465,
        "y": 400,
        "wires": [
            [
                "ccea0bf949fb23b4"
            ]
        ]
    },
    {
        "id": "ccea0bf949fb23b4",
        "type": "function",
        "z": "bf8d16b5667222e0",
        "g": "8ef01d727620bf3e",
        "name": "setupModbus",
        "func": "(async function () {\n    const manifest = global.get(\"manifest\");\n    const gateway_id = global.get(\"gateway_id\");\n\n    node.warn(manifest);\n\n    if (!manifest || !manifest.config || !manifest.config.plant || !manifest.config.plant.areas) {\n        node.warn(\"Manifesto inválido no Messaging. Estrutura de Planta/Áreas ausente.\");\n        return;\n    }\n\n    let active_clients = global.get(\"modbus_clients\") || {};\n\n    for (let id in active_clients) {\n        if (active_clients[id].client && active_clients[id].client.isOpen) {\n            active_clients[id].client.close();\n        }\n    }\n\n    active_clients = {};\n    const areas = manifest.config.plant.areas;\n\n    for (const areaId of Object.keys(areas)) {\n        const lines = areas[areaId].lines || {};\n        for (const lineId of Object.keys(lines)) {\n            const devices = lines[lineId].devices || {};\n            for (const deviceId of Object.keys(devices)) {\n                const dev = devices[deviceId];\n                if (dev.enabled !== true || dev.connection.protocol !== \"modbus_tcp\") {\n                    continue;\n                }\n                const client = new ModbusRTU();\n\n                try {\n                    await client.connectTCP(dev.connection.host, { port: dev.connection.port || 502 });\n                    client.setID(dev.connection.unit_id || 1);\n\n                    active_clients[deviceId] = {\n                        client: client,\n                        config: dev,\n                        gateway_id: gateway_id\n                    };\n\n                    node.warn(`[Messaging] Conexão ESTABELECIDA com ${deviceId}`);\n                } catch (erro) {\n                    node.warn(`[Messaging] Erro ao conectar com ${deviceId}: ${erro.message}`);\n                }\n            }\n        }\n    }\n\n    global.set(\"modbus_clients\", active_clients);\n    node.warn(\"Clientes ativos no momento: \" + Object.keys(active_clients).length);\n\n    msg.payload = \"Running\";\n    node.send(msg);\n\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ModbusRTU",
                "module": "modbus-serial"
            }
        ],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "8cbeb60de162ae13"
            ]
        ]
    },
    {
        "id": "e49bd44efe452f73",
        "type": "link out",
        "z": "9e19e885c5971d19",
        "name": "Sender Queue",
        "mode": "link",
        "links": [
            "abab80c8e67aac5c"
        ],
        "x": 515,
        "y": 240,
        "wires": []
    },
    {
        "id": "653a12304f363ae3",
        "type": "link in",
        "z": "9e19e885c5971d19",
        "name": "Receiver Queue",
        "links": [
            "8cbeb60de162ae13"
        ],
        "x": 285,
        "y": 240,
        "wires": [
            [
                "d066b0653a83c8c3"
            ]
        ]
    },
    {
        "id": "d066b0653a83c8c3",
        "type": "function",
        "z": "9e19e885c5971d19",
        "name": "Polling",
        "func": "const active_clients = global.get(\"modbus_clients\");\nnode.warn(active_clients);\nif (!active_clients) return null;\n\nlet timers = context.get(\"timersAtivos\") || {};\nfor(let key in timers) {\n    clearInterval(timers[key]);\n}\ntimers = {};\n\nObject.keys(active_clients).forEach((deviceId) => {\n    const { client, config, gateway_id } = active_clients[deviceId]\n\n    const scanRate = config.connection.scan_rate_ms || 1000;\n    const metrics = config.metrics_mapping || {};\n\n    let intervalId = setInterval(async () => {\n        if (!client.isOpen) return;\n        try {\n            let data_payload = {};\n            for (let addrKey of Object.keys(metrics)) {\n                const metric = metrics[addrKey];\n\n                let address = parseInt(addrKey);\n                if (address >= 40001 && address <= 49999) address -= 40001;\n                else if (address >= 30001 && address <= 39999) address -= 30001;\n\n                let quantity = (metric.data_type === \"float\" || metric.data_type === \"int32\") ? 2 : 1;\n                if (metric.data_type == \"double\" || metric.data_type == \"int64\") quantity = 4;\n\n                let data;\n                if (metric.register_type === \"holding\" || addrKey.startsWith(\"4\"))\n                    data = await client.readHoldingRegisters(address, quantity);\n                else if (metric.register_type === \"input\" || addrKey.startsWith(\"3\"))\n                    data = await client.readInputRegisters(address, quantity); \n\n                data_payload[addrKey] = (data.data.length === 1) ? data.data[0] : data.data;\n            }\n            node.warn(msg.payload);\n\n            node.send({\n                payload: {\n                    timestamp: Date.now(),\n                    gateway_id: gateway_id,\n                    source: {\n                        device_id: deviceId,\n                        source_protocol: config.connection.protocol\n                    },\n                    data: data_payload\n                }\n            });\n        } catch (erro) {\n            node.warn(`[Messaging] Erro de leitura em ${deviceId}: ${erro.message}`);\n        }\n    }, scanRate);\n\n    timers[deviceId] = intervalId;\n});\n\ncontext.set(\"timersAtivos\", timers);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Lendo e processando...\" });\n\nnode.on(\"close\", function () {\n    let timersAtivos = context.get(\"timersAtivos\") || {};\n    for (let key in timersAtivos) clearInterval(timersAtivos[key]);\n    context.set(\"timersAtivos\", {});\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "e49bd44efe452f73",
                "138de548d248b8ba"
            ]
        ]
    },
    {
        "id": "138de548d248b8ba",
        "type": "debug",
        "z": "9e19e885c5971d19",
        "name": "Processing Monitor",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "364461ecab765c2c",
        "type": "http request",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "getEdgeConfig",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sida-core:8000/api/system/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "ab51cc16ba54591e"
            ]
        ]
    },
    {
        "id": "77e0020e57c60ee3",
        "type": "switch",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "CheckGatewayID",
        "property": "gateway_id",
        "propertyType": "global",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "364461ecab765c2c"
            ],
            [
                "a4e97b28a43e8ac4"
            ]
        ]
    },
    {
        "id": "ab51cc16ba54591e",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "SetGatewayID",
        "rules": [
            {
                "t": "set",
                "p": "gateway_id",
                "pt": "global",
                "to": "payload.gateway_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "a4e97b28a43e8ac4"
            ]
        ]
    },
    {
        "id": "ec667cc729e2e248",
        "type": "link in",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "Controller In",
        "links": [
            "3c22d78beb5db72c"
        ],
        "x": 205,
        "y": 200,
        "wires": [
            [
                "77e0020e57c60ee3"
            ]
        ]
    },
    {
        "id": "caa5b416917446c7",
        "type": "http request",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "getEdgeManifest",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 220,
        "wires": [
            [
                "638e8a22a1149575"
            ]
        ]
    },
    {
        "id": "a4e97b28a43e8ac4",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "setUrl",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"http://sida-core:8000/api/config/manifest?gateway_id=\" & $globalContext(\"gateway_id\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "caa5b416917446c7"
            ]
        ]
    },
    {
        "id": "2759d95830d70018",
        "type": "change",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "SetEdgeManifest",
        "rules": [
            {
                "t": "set",
                "p": "manifest",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "a9df0f3697eb03af"
            ]
        ]
    },
    {
        "id": "a9df0f3697eb03af",
        "type": "link out",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "Controller Out",
        "mode": "link",
        "links": [
            "e4d12e1c41dea844"
        ],
        "x": 1215,
        "y": 220,
        "wires": []
    },
    {
        "id": "638e8a22a1149575",
        "type": "switch",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "checkResponse",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "2759d95830d70018"
            ]
        ]
    },
    {
        "id": "2750b24fc825b54e",
        "type": "zeromq in",
        "z": "aaee6471150744f1",
        "g": "a128b0c239b73023",
        "name": "ManifestUpdate",
        "topic": "sida/manifest",
        "fields": "topic,payload",
        "server": "tcp://sida-core:5556",
        "output": "buffer",
        "isserver": false,
        "intype": "sub",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "77e0020e57c60ee3"
            ]
        ]
    }
]